.topbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: var(--bg-color);
    color: var(--heading-color);
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0 20px;
    z-index: 999;
    border-bottom: 1px solid #ddd;
}



.logo {
    /* margin-left: 50px; */
    align-items: end;

}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


